@page "/employees"
@using TechTest.ClientSide.Data
@using TechTest.ClientSide.Models
@using TechTest.ClientSide.Mapping
@inject EmployeeService EmployeeService
@inject AuthenticationState AuthenticationState

<h3>Employees</h3>

@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var emp in employees)
        {
            <li>@emp.FirstName (@emp.FullName)</li>
        }
    </ul>
}

@code {
    private List<EmployeeViewModel>? employees;

    protected override async Task OnInitializedAsync()
    {
        employees = await EmployeeService.GetEmployeesAsync();
    }
}