@using TechTest.ClientSide.Data
@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject AuthenticationState AuthState

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button class="btn btn-link" @onclick="SignOut">Sign Out</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    /// <summary>
    /// Sign out and clear the authentication token.
    /// </summary>
    private void SignOut()
    {
        AuthState.ClearToken();
        NavManager.NavigateTo("/", forceLoad: true);
    }
}