@page "/login"
@using TechTest.ClientSide.Data
@inject AuthenticationService AuthenticationService

<div class="container d-flex align-items-center justify-content-center vh-100">
    <div class="card shadow-sm" style="max-width: 400px; width: 100%;">
        <div class="card-body">
            <h3 class="card-title text-center mb-4">Inicio de sesi&oacute;n</h3>

            <form>
                <div class="mb-3">
                    <label for="inputUsername" class="form-label">Usuario</label>
                    <input type="email" class="form-control" id="inputUsername" placeholder="Usuario" @bind="username">
                </div>

                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Contrase&ntilde;a</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="••••••••" @bind="password">
                </div>

                <div class="d-grid">
                    <button @onclick="HandleLoginRequest" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

@code {
    private string username { get; set; } = "";
    private string password { get; set; } = "";
    private string message { get; set; } = "";

    private async Task HandleLoginRequest()
    {
        var loginSucess = await AuthenticationService.LoginAsync(username, password);
        if (loginSucess is null)
        {
            //NavManager.NavigateTo("/employees");
        }
        else
        {
            
        }
    }
}
